@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:is(.dark *));
@layer utilities {
  .container {
    @apply max-w-315 mx-auto;
  }
}

@theme {
  --font-rajdhani: "Rajdhani", sans-serif;
  --font-rubik: "Rubik", sans-serif;

  --color-common: #141414;
  --color-red: #FF494A;
  
  --color-bg-light: #F8F9FA;
  --color-bg-dark-main: #0A0A0A;
}